@model IEnumerable<StaparParking.Models.Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identification)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identification)
            </td>
            <td colspan="2">
                @Html.ActionLink(" ", "Edit", new { id = item.Id },
                  htmlAttributes: new { @class = "glyphicon glyphicon-pencil btn btn-info" })

                <a href="#" class="btn btn-danger" onclick="ConfirmDeleteParking('@item.Id', '@item.Identification.Trim()')">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>



<!-- Logout Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja Excluir o manobrista?  <br />
                <i class="glyphicon glyphicon-arrow-Right"></i>
                <b><span id="lblNameManobrista"></span></b><br />
                <span class="text-danger">Essa ação não poderá ser desfeita!</span>
            </div>
            <div class="modal-footer">

                @using (Html.BeginForm("DeleteConfirmed", "Valet", FormMethod.Post,
                        new { id = "myform", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="hiddenValetId" />
                    <button class="btn btn-danger"
                            value="Delete" id="DeleteBtn" onclick="delValet()">
                        Delete
                    </button>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button> <br />

                }

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
}
